<h1>플레이 리스트</h1>

<style>
    body {background-color:beige;}

</style>
<h3 style="font-size: medium;font-style: italic;">윤종신 - 오르막길</h3>
<a href="http://127.0.0.1:8000/page1">👉 자세히 </a><br>
<br>
<img src='https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxNzA3MjBfNzkg%2FMDAxNTAwNDgwMjk1ODky.6hHHc4hIWY9MElsfGJvGR1d_JfNJyZt5zENiLs9IUo8g.M59qGS7Pljz0Q1wJg3XdIQoj7VfCnMHQsubhE-viGX0g.JPEG.miniron104%2F%25C0%25B1%25C1%25BE%25BD%25C5_%25BF%25C0%25B8%25A3%25B8%25B7%25B1%25E6_%25B1%25E2%25BF%25EE%25C0%25CC_%25B3%25AA%25B3%25D7_%25282%2529.JPEG&type=a340' width="200" height="200">
<br>
<br>

<h3 style="font-size: medium;font-style: italic;">주호 - 내가 아니라도</h3>
<a href="http://127.0.0.1:8000/page2">👉 자세히 </a><br>
<br>
<img src='https://search.pstatic.net/common?type=n&size=174x174&quality=95&direct=true&src=https%3A%2F%2Fmusicmeta-phinf.pstatic.net%2Falbum%2F007%2F425%2F7425722.jpg%3Ftype%3Dr204Fll%26v%3D20220705215522' width="200" height="200">
<br>
<br>

<h3 style="font-size: medium;font-style: italic;">이영현 - 그래서 그대는</h3>
<a href="http://127.0.0.1:8000/page3">👉 자세히 </a><br>
<br>
<img src='https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjEwMTNfMTkw%2FMDAxNjY1NjQ3Mzc0OTU2.ANPkYN8CyYiVLSY9Vd2xvzYa8iD6KfXlyNryC8x5Bo0g.ALimk5c7NXYLQ1KUFAaucruVgmPGMPwkPv0ocRpdJhsg.PNG.o0o0o0zz%2Fimage.png&type=a340' width="200" height="200">
<br>
<br>

<h3 style="font-size: medium;font-style: italic;">윤하 - 사건의 지평선</h3>
<a href="http://127.0.0.1:8000/page4">👉 자세히 </a><br>
<br>
<img src='https://search.pstatic.net/common?type=n&size=174x174&quality=95&direct=true&src=https%3A%2F%2Fmusicmeta-phinf.pstatic.net%2Falbum%2F007%2F434%2F7434553.jpg%3Ftype%3Dr204Fll%26v%3D20221115170019' width="200" height="200">
<br>
<br>

<h3 style="font-size: medium;font-style: italic;">(여자)아이들 - Nxde</h3>
<a href="http://127.0.0.1:8000/page5">👉 자세히 </a><br>
<br>
<img src='https://search.pstatic.net/common?type=n&size=174x174&quality=95&direct=true&src=https%3A%2F%2Fmusicmeta-phinf.pstatic.net%2Falbum%2F008%2F235%2F8235565.jpg%3Ftype%3Dr204Fll%26v%3D20221027181345' width="200" height="200">
<br>
<br>